
<div class="container-fluid" style="margin-top: 58px; width: 100%; text-align: center; background-color: #cccccc" >
  <br>



  <form>
  <div class="center" style="width: 30%;" >
    <label for="exampleSelect1">Select Category:</label>
    <select class="form-control" id="exampleSelect1" #dropdrown (change)="categoryChange(dropdrown)"  required>
      <option disabled selected value>--Choose an Option-- </option>
      <option >Football</option>
      <option>Cricket</option>

    </select>
  </div>
    <div *ngIf="category=='Football'" class="center">
      <form #formData='ngForm' (ngSubmit)="createGame(formData)" id="footballForm">
        Team 1: <br>
      <input type="text"  [(ngModel)]="sport.team1" name="team1">
        <br>
        Enter Score for team 1:
        <br>
      <input type="number" [(ngModel)]="sport.team1Score" name="team1Score">
        <br>
        Team 2:
        <br>
      <input type="text" [(ngModel)]="sport.team2" name="team2">
        <br>
        Enter Score for team 2:
        <br>
      <input type="number" [(ngModel)]="sport.team2Score" name="team2Score">
        <br>
      <button pButton type="submit" class="ui-button-warning" [disabled]="!formData.valid" label="Submit" id="buttonSubmit2"></button>
  </form>

    </div>

    <div *ngIf="category=='Cricket'" class="center">
      <form #formData='ngForm' (ngSubmit)="createGame(formData)" id="cricketForm">
        Team 1:<br>
      <input type="text" [(ngModel)]="sport.team1" name="team1">
        <br>
        Team 2:<br>
      <input type="text" [(ngModel)]="sport.team2" name="team2">
        <br>
        Enter team  currently batting team:<br>
      <input type="text" [(ngModel)]="sport.currentBatting" name="batting">
        <br>
        Enter score of Team 1:<br>
      <input type="text" [(ngModel)]="sport.team1Score" name="team1Score">
        <br>
        Enter score of Team 2:<br>
      <input type="text" [(ngModel)]="sport.team2Score" name="team2Score">
        <br>
        Enter current over:<br>
        <input type="text" [(ngModel)]="sport.overs" name="overs">
        <br>
        Enter total number of overs:<br>
        <input type="text" [(ngModel)]="sport.totalOvers" name="totalOvers">

        <br>
        <button pButton type="submit" class="ui-button-warning" [disabled]="!formData.valid" label="Submit" id="buttonSubmit1"></button>
      </form>




    </div>



  </form>




</div>


<div class="ui-overlaypanel-content" style="margin-top: 120px;">
  <div style="top:50%;position: fixed" class="buttonContainer  hvr-wobble-horizontal">
    <button md-fab class="back-button" (click)="listArticles()">
      <i class="material-icons" style="font-size: 28px;top: 50%">arrow_back</i>
    </button>
  </div>
  <div class="col-3 col-sm-4  col-lg-3" *ngFor="let score of scores|async" style="float:left; margin-left: 15%">
    <md-card *ngIf="score.category=='Football'" class="score-card" >
      <md-card-title style="word-wrap: break-word">
        <h1> {{score.team1}} vs {{score.team2}}</h1>
      </md-card-title>
      <md-card-subtitle>

      </md-card-subtitle>

      <md-card-content>
        <form #formData='ngForm' (ngSubmit)="update(formData,score.$key)" id="footballUpdateForm">
                Scores: <br>
                   <input id="t1FScore" pInputText type="number" style="float: left"  name="team1Score" [(ngModel)]="score.team1Score"> <a style="float: left;"> ---</a>
                   <input id="t2FScore" pInputText type="number" style="float: left" name="team2Score" [(ngModel)]="score.team2Score">
          <br>
          <br>  Game Status: <br>
                    <input id="FgameStatus" pInputText type="text" name="status" [(ngModel)]="score.status">

                     <br>
                    <br>
                    <button pButton type="submit" class="ui-button-warning" [disabled]="!formData.valid" label="Update" ></button>

                  </form>

      </md-card-content>

      <md-card-actions layout="row" layout-align="end center">

      </md-card-actions>

    </md-card>

    <md-card *ngIf="score.category=='Cricket'"  class="score-card" >

    <md-card-title style="word-wrap: break-word">
      <h1>{{score.team1}} vs {{score.team2}}</h1>
    </md-card-title>
    <md-card-subtitle>

    </md-card-subtitle>

    <md-card-content >
      <form #formData='ngForm' (ngSubmit)="update(formData,score.$key)" id="cricketUpdateForm">
   	         Batting:<br>
                <input id="currBatting" pInputText  type ="text" name="batting" [(ngModel)]="score.batting" >
        <br>
        <br>
               {{score.team1}}:<br>
                <input id="t1CScore" pInputText type="text"  name="team1Score" [(ngModel)]="score.team1Score">
        <br>
        <br>
                {{score.team2}}:<br>
                <input id="t2CScore" pInputText type="text"  name="team2Score" [(ngModel)]="score.team2Score">
        <br>
        <br>
        Innings:<br>
                <input id="overs" pInputText type="number" name="overs" [(ngModel)]="score.overs">/{{score.totalOvers}} overs
        <br>

        <br>
        Game Status:<br>
        <input id="CgameStatus" pInputText type="text" name="status" [(ngModel)]="score.status">
        <br>
        <br>
               <button pButton type="submit" class="ui-button-warning" [disabled]="!formData.valid" label="Update" ></button>

             </form>

    </md-card-content>



    <md-card-actions layout="row" layout-align="end center">

    </md-card-actions>

    </md-card>

  </div>
</div>
