.center {
  margin: auto;
  width: 50%;

  padding: 10px;
}

.back-button {
  font-size: 36px;
  background-color: #cccccc;
  color: white;

}

.back-button:hover{
  background-color: red;
}


  .score-card {
    margin-bottom: 35px;
    height: 460px;
    width: 460px
  }

