#buttonSubmit{
    margin-top: 70px;
    left: 61%;
    width: 8%;
    height: 40px;
    margin-bottom: 90px;
    font-size: 17px;
}

#buttonSubmit:disabled{
    cursor: not-allowed;
}
#buttonSubmit:hover{
    background-color: lightgrey;

}


.md-progress{
    width: 40px;
    height: 40px;
    display: inline-block;
}

#progresscircle{
     display: inline-block;
     position: absolute;
     margin-left: 30px;
     padding: 3px;
    margin-top: 17px!important;
 }

#progresscircle2{
    display: inline-block;
    position: absolute;
    margin-left: 30px;
    padding: 3px;
}

.btn-danger{
    display: inline-block;
    margin-left: 40px;
}

.btn-success{
  display: inline-block;
  margin-left: 40px;
}

#fileInput{
    display: inline-block;
    width: 40%;
}

#blah{
    width:120px;
    height: 80px;
}

#gallerInput{
    display: inline-block;
    width: 40%;
}

#form{
    margin-top: 50px;
    margin-left: 40px;
}

.back-button {
font-size: 36px;
  background-color: #cccccc;
  color: white;

}

.back-button:hover{
  background-color: red;
}

button:focus {outline:0;}

