#buttonSubmit{
    margin-top: 20px;
    left: 25%;
    width: 8%;
    height: 40px;
}

#growl{
    width:50px
}

.md-progress{
    width: 40px;
    height: 40px;
    display: inline-block;
}

#progresscircle{
    display: inline-block;
    position: absolute;
    margin-left: 30px;
    padding: 3px;
}

.btn-warning{
    display: inline-block;
    margin-left: 40px;
}

#fileInput{
    display: inline-block;
    width: 40%;
}

#form{
    margin-top: 50px;
    margin-left: 40px;
}