
<div class="container-fluid">
  <div class="row justify-content-md-center">
      <div class="md-col-4"></div>
        <div class="md-col-4">

<md-card style="margin-top: 40px;" >
  <md-card-header style="justify-content: center;font-family: 'Arial Black';font-size: xx-large">Login</md-card-header>
  <md-card-content>
    <md-card-xl-image>
      <img src="/src/assets/sj_colored.png" style="width: 500px;margin-left: 60px;padding-bottom: 70px">
    </md-card-xl-image>
    <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">
      <label>Enter email address:
        <input type ="text" name="email" (ngModel)="email" required>
      </label>
      <label style="display: block"> Password:
        <input type="password" name="password" (ngModel)="password" required style="margin-left: 65px">
      </label>
      <button type="submit" md-raised-button disableRipple  [disabled]="!formData.valid" id="buttonSubmit">Submit</button>
    </form>
  </md-card-content>
</md-card>
<router-outlet></router-outlet>
          <div class="md-col-4"></div>
  </div>
  </div>
</div>
