#buttonSubmit{
    display: block;
    margin-left: 30%;
    margin-top: 30px
}

#password{
    margin-left: 20%;
    margin-top: 10px;
    display: block;
}

#username{
    margin-left: 20%;
    display: block;
}

#buttonSubmit:disabled{
     background-color: grey;
     color: white;
 }
#form{
    margin-left: 20%;
}

.ui-button-warning{
    padding: 5px;
}

.container-fluid{
    background-color: lightgrey !important;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#cardHeader{
    justify-content: center;
    font-family: 'Russo One', sans-serif;
    font-size: xx-large;
}