<div class="ui-overlaypanel-content" style="margin-top: 120px;">


  <div style="height: 100%;width: 100%" class="container-fluid">
    <div style="top:50%;position: fixed; z-index: 10000" class="buttonContainer  hvr-wobble-horizontal">
      <button md-fab class="back-button" (click)="goBack()">
        <i class="material-icons" style="font-size: 28px;top: 50%">arrow_back</i>
      </button>
    </div>




    <div  class="row">

      <div class="col col-2 col-sm-2 col-md-2">
      </div>
      <div style="margin-top: 80px;margin-bottom: 80px" class="col col-8 col-sm-8 col-md-8" id="panel">
        <p-panel styleClass="ui-panel ui-panel-titlebar" id="actualPanel">
          <i pTooltip="Click to add to favorites" style="cursor: pointer;position: absolute;left: 93%;font-size: 50px;z-index: 100" *ngIf="favorited==0"  (click)="addToFavorite(article.articleID)"  class="material-icons ">favorite_border</i>
          <i pTooltip="Click to remove from favorites" style="color: #e01818;cursor: pointer;position: absolute;left: 93%;font-size: 50px;z-index: 100"  *ngIf="favorited==1" (click)="removeFavorite(article.articleID)" class="material-icons ">favorite</i>
          <div style="display: inline-block;margin-bottom: 40px;width: auto;max-width:90%;z-index: 2" class="container-fluid">
            <p style="display:inline-block;font-family:'Open Sans', sans-serif;font-weight: 800;font-size: 45px;margin: 0!important;"> {{article.title}}</p>
            <hr style="display: inline-block;width: 100%" class="horizontal">
            <p style="display:inline-block;font-family:'Open Sans', sans-serif;font-weight: 400;font-size: 25px;margin: 0!important;"> {{article.category}}</p>
          </div>

          <img style="display:flex;height: 600px!important;width: 100%!important;margin: auto" src="{{article.urlToImage}}">
          <h1 *ngIf="article"></h1>

          <br><br><br>
          <a style="display:inline-block; font-family: 'Open Sans';line-height: 24px;font-size: 17px;font-weight: 500" *ngIf="article">Date Created: {{article.timeAndDateCreated}}</a>
          <div style="display: inline-block; height: 40px!important;margin-left: 10px;margin-right: 10px;font-size: 30px;vertical-align: middle" class="vertical-line"></div>
          <p style="margin-left: 10px; display: inline-block; font-family: 'Open Sans';line-height: 24px;font-size: 17px;font-weight: 500" *ngIf="article">Last Updated: {{article.lastUpdated}}</p>


          <br><br>
          <hr class="horizon" style="margin-bottom: 50px">
          <p style="font-family: 'Open Sans';line-height: 24px;font-size: 17px;font-weight: 500;text-indent: 8%" *ngIf="article">{{article.articleData }}</p>
          <hr class="horizon" style="margin-bottom: 50px;margin-top: 5%">
          <div *ngIf="showGallery!=0">
            <div style="margin-top: 14%;margin-bottom: 6%" class="galleria">
              <img *ngFor="let image of images" src="{{image}}">
            </div>
          </div>
        </p-panel>

      </div>
      <div class="col col-2 col-sm-2 col-md-2">

      </div>

    </div>
  </div>



</div>
