
<div class="container-fluid">
  <div class="row justify-content-md-center" >
      <div class="md-col-4" ></div>
        <div class="md-col-4">

          <md-card style="margin-top: 40px; background-color: white">
            <md-card-header id="cardHeader" >Login</md-card-header>
            <md-card-content>
              <md-card-xl-image>
                <img src="/src/assets/sj_colored.png" style="width: 500px;margin-left: 50px;padding-bottom: 70px">
              </md-card-xl-image>
              <form #formData='ngForm' (ngSubmit)="onSubmit(formData)" id="form">
                <input id="username" pInputText  type ="text" name="email" (ngModel)="email" required placeholder="Enter Email here...">
                <input id="password" pInputText type="password"  name="password" placeholder="Enter Password here..." (ngModel)="password" required>
                <button pButton type="submit" class="ui-button-warning" [disabled]="!formData.valid" label="Submit" id="buttonSubmit"></button>
              </form>
            </md-card-content>
          </md-card>
        </div>
          <div class="md-col-4" >
          </div>

  </div>
</div>
<router-outlet></router-outlet>

