

<div class="ui-overlaypanel-content" style="margin-top: 58px; height:150px; width: 100%; text-align: center; background-color: #cccccc;" >
  <div class="center">
  <br>

  <button md-fab class="dash-button" (click)="scoreBoard()">
    <i style="font-size: 35px; text-align: center" class="material-icons">content_paste</i>
  </button>


      <button md-fab class="dash-button" (click)="addArticle()">
        <i style="font-size: 35px; text-align: center" class="material-icons">add</i>
      </button>


  <div >
    <a >Scoreboards</a>
  <a>Add Article</a>
  </div>




</div>
</div>

<div class="ui-overlaypanel-content" style="margin-top: 120px;">


    <div  style="font-family: 'Open Sans',sans-serif" class="col col-5 col-sm-5 col-md-5 fadeInDown">
      <div *ngFor="let starter of articles|slice:0:1" >
        <h4 *ngIf="starter.articleID" style="font-family: 'Open Sans',sans-serif;font-size: 26px;margin-bottom: 0!important;">Latest Articles </h4>
        <hr *ngIf="starter.articleID"  style="width: 100%;background-color: black;margin-bottom: 25px">
      </div>
      <div *ngFor="let article of articles" style="display:inline">
        <md-card class="example-card">
          <div style="position: absolute;" class="Headings">
            <md-card-title id="titleOfCard">{{article.title}}</md-card-title>
            <hr style="background-color: white">
            <md-card-subtitle style="margin-left: 3px;color: white">{{article.category}}</md-card-subtitle>
          </div>
          <md-card-content style="">
            <img style="height: 440px;display: inline-block;z-index: -1" md-card-image src="{{article.urlToImage}}">
            <p style="font-size: 16px;font-weight: 600">{{article.subtitle}}</p>
          </md-card-content>
          <md-card-actions layout="row" layout-align="end center">
            <button pButton type="button" label="View" (click)="viewArticle(article.articleID)"></button>
            <button pButton type="button" label="Edit" (click)="editArticle(article.articleID)"></button>
          </md-card-actions>
        </md-card>
      </div>
    </div>



</div>



